{% extends 'base.html' %}

{% block app_content %}
<main role="main">
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a href="{{url_for('account_manager', user_id=user.id)}}">{{user.id}}</a></td>
            <td>{{user.username}}</td>
            <td>{{user.forename}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.email}}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}
