{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}



{% block app_content %}
<main role="main" class="mt-4">
    <form id="response-form" action="" method="post" role="form">
        {{ form.hidden_tag() }}
        <h1 class="display-4 mb-5 text-center">{{poll.title}}</h1>
        <div class="row justify-content-center">
            <div class="question card mb-3" id="question-1" style="width: 80rem;">
                {{ form.question1.label }}
                {{ form.question1}}
            </div>
            <div class="question card mb-3" id="question-2" style="width: 80rem;">
                {{ form.question2.label }}
                {{ form.question2}}
            </div>
            <div class="question card mb-3" id="question-3" style="width: 80rem;">
                {{ form.question3.label }}
                {{ form.question3}}
            </div>
            <div class="question card mb-3" id="question-4" style="width: 80rem;">
                {{ form.question4.label }}
                {{ form.question4}}
            </div>
        </div>
        <div class="row justify-content-center">
            <input type="submit" value="Submit response">
        </div>
    </form>
</main>
{% endblock %}